{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h2>Welcome to OMOCK Essentials, where culinary passion meets a symphony of flavors!</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm12 offset-md-1 p-4 text-center">
            <p>At OMOCK Essentials, we believe that a memorable dining experience is crafted not only from exceptional dishes but also from the warmth of hospitality and the embrace of a welcoming ambiance. Nestled in the heart of Helsinki, our restaurant is more than just a place to eat; it's a haven for food enthusiasts seeking an escape into the world of exquisite tastes.</p>

            <h2>Locally Inspired, Globally Infused:</h2>
            <p>While our roots are firmly planted in the rich culinary traditions of Uusimaa our menu is a global journey. From locally sourced ingredients to international culinary techniques, we take pride in offering a diverse selection that caters to every palate. Whether you're a connoisseur of classic comfort food or an adventurer seeking bold, new flavors, there's a dish at OMOCK Essentials for you.</p>
            <h2>Meet Our Team:</h2>
            <p>Behind every delightful meal is a team of passionate individuals dedicated to making your dining experience exceptional. From our chefs who bring creativity to the kitchen to our attentive waitstaff, every member of the OMOCK Essentials family is committed to ensuring your time with us is unforgettable.</p>
        </div>
    </div>
</div>
{% endblock content %}